body{
    display: flex;
    justify-content: center;
    width: 95;
    height: 95vh;
    align-items:  center;
    flex-direction: column;
    background: #141414c5;
    color: aquamarine;
}
.title{
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}
